name: DateTime Workflow
on:
  push:
    branches:
      - main

jobs:
  display:
    runs-on: ubuntu-latest
    steps:
      - name: Show date
        run: date
      - name: Show custom message
        run: echo Workflow run by Saber
